# Python bytecode:
*.pyc
*.pyo

logs/*
!.gitkeep
node_modules
tmp
.DS_Store

# Editor temp files:
_direnv_hook
.vscode
.idea
*.swp
*~
.env
.envrc

docs/_build
.venv
gst_e_invoicing.egg-info
dist
build

#keys
public_keys
PublicKey

