# to read environment variables from .env file
python-dotenv==0.20.0

# to get response from API
requests==2.28.1

# to encrypt and decrypt data
cryptography==38.0.1
PyJWT==2.4.0


# Run the following after updating this file:
#    pip-compile --upgrade --output-file=requirements/requirements.txt requirements/requirements.in
#
# to list new packages: pip list --outdated --not-required
# to sync pip installations: pip-sync requirements/requirements.txt
# the sync will uninstall unused packages too
